<p>Dear <%=firstName%> <%=lastName%></p>
<p><%=serviceWelcomeMessage%></p>
<p><%=serviceWelcomeMessageDescription%></p>
<p>DfE Sign in will allow you to use the same sign in details to access many different DfE services.</p>
<p>To start using the service please click the link below:</p>
<p><a href="<%=returnUrl%>"><%=returnUrl%></a></p>
<p>If you received this email in error, please ignore it.</p>
