Dear <%=firstName%> <%=lastName%>

<%=serviceWelcomeMessage%>
<%=serviceWelcomeMessageDescription%>
<%=returnUrl%>
<p>Please note, this link will not expire so you don't need to do it right away.</p>

When asked, your verification code is:

<%=code%>

During this process you will be asked to provide two codes from your DIGIPASS token, so make sure you have it with you when you follow the link.

If you received this email in error, please ignore it.